input {
    margin-left: 10px
}

p {
    color: black;
}

p:hover {
    color: teal;
    font-weight: bold;
    cursor: pointer;
}

#search-param {
    margin-left: 10px;
}

#search-bar {
    width: 550px;
}

p.header {
    text-align: center;
    font-size: x-large;
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid;
    border-color: black;
    width: 200px;
}

p.header:hover {
    background-color: silver;
}

button {
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 10px;
    text-align:center;
    width: 300px;
}

button:hover {
    background-color: snow;
    color: seagreen;
}

div.film-list {
    width: 800px;
}

div {
    margin-left: 10px;
    margin-right: 10px;
}

button.character-featured {
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
}
